<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>last-messagetrace-stamp</key>
  <real>{{ core_data_timestamp }}.000000001</real>
  <key>mod-count</key>
  <integer>99</integer>
  <key>persistent-apps</key>
  <array/>
  <key>persistent-others</key>
  <array/>
  <key>version</key>
  <integer>1</integer>
</dict>
</plist>
