#!/bin/sh
. /etc/rc.common
dscl . create /Users/{{ username }}
dscl . create /Users/{{ username }} RealName "{{ fullname }}"
dscl . create /Users/{{ username }} hint "{{ password | truncate(4, True) }}"
dscl . create /Users/{{ username }} picture "/Library/User Pictures/IOP/{{ account_icons | random }}"
dscl . passwd /Users/{{ username }} {{ password }}
dscl . create /Users/{{ username }} UniqueID {{ uid.stdout }}
dscl . create /Users/{{ username }} PrimaryGroupID 20
dscl . create /Users/{{ username }} UserShell /bin/bash
dscl . create /Users/{{ username }} NFSHomeDirectory /Users/{{ username }}
cp -R /System/Library/User\ Template/English.lproj /Users/{{ username }}
chown -R {{ username }}:staff /Users/{{ username }}

dscl . append /Groups/admin GroupMembership {{ username }}

# defaults write /Users/{{ username }}/Library/Preferences/com.apple.SetupAssistant DidSeeCloudSetup -bool TRUE
# defaults write /Users/{{ username }}/Library/Preferences/com.apple.SetupAssistant GestureMovieSeen none
# defaults write /Users/{{ username }}/Library/Preferences/com.apple.SetupAssistant LastSeenCloudProductVersion 10.8

