{
  "installed_packages":
  [
    "Babel",
    "BracketHighlighter",
    "EditorConfig",
    "Emmet",
    "GitGutter",
    "HTML-CSS-JS Prettify",
    "JsPrettier",
    "Markdown Extended",
    "MarkdownEditing",
    "SCSS",
    "SideBarEnhancements"
  ]
}
