{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
{\fonttbl\f0\fswiss\fcharset0 Helvetica;\f1\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red56\green110\blue255;}
\margl1440\margr1440\vieww12380\viewh15400\viewkind0
\deftab720
\pard\pardeftab720

\f0\b\fs24 \cf0 Your Account
\b0 \
The user account login for your computer is:\
\

\b 	username:
\f1\b0 	{{ username }}
\f0 \

\b 	password:
\f1\b0 	{{ password }}
\f0 \
\
Please keep your password private. If you'd like to change it let me know.\
\
Feel free to reorganize your Dock and Finder however works best for you. Send me a note if you will be installing any additional applications or utilities. \'a0\'a0\
\
\

\b IOP Fileserver
\b0 \
IOP Fileserver access is the same as your computer login above. The server should be visible in the sidebar of Finder windows under Shared.\
\
Please see the\'a0
\i IOP Server and File Name Conventions
\i0 \'a0document for more information about where to put files on the server and how they should be named.\
\
\

\b IOP Email
\b0 \
Your email is already configured, if you'd like to set up your IOP email account on other devices these are the settings you'll need:\
\

\b 	Email address &\'a0username:  \'a0{\field{\*\fldinst{HYPERLINK "mailto:{{ username }}@ideasonpurpose.com"}}{\fldrslt
\b0 \cf2 \ul \ulc2 {{ username }}@ideasonpurpose.com}}
\b0 \

\b 	Password:  \'a0
\b0 (same as above)\
\
Microsoft Exchange accounts will\'a0auto-configure based on your\'a0email/username and password.\'a0\
\
We also have webmail at\'a0{\field{\*\fldinst{HYPERLINK "http://webmail.ideasonpurpose.com/"}}{\fldrslt \cf2 \ul \ulc2 http://webmail.ideasonpurpose.com}}\'a0\'a0The webmail login is your full email address and password.\'a0\
\
\

\b Wi-Fi
\b0 \
The password for the
\i  Ideas On Purpose
\i0  wireless networks is: \'a0
\f1 {{ wifi_password }}
\f0 \
\
\

\b Google Apps
\b0 \
IOP's private Google Apps URL is below, use your email address and password to\'a0login.\'a0\
\
\pard\pardeftab720
{\field{\*\fldinst{HYPERLINK "http://docs.ideasonpurpose.com/"}}{\fldrslt \cf2 \ul \ulc2 http://docs.ideasonpurpose.com}}\cf2 \
\pard\pardeftab720
\cf0 \
\

\b Fonts
\b0 \
There is an "IOP Font Library"\'a0folder at the top level of your computer's hard drive containing an extensive library of fonts. \'a0Please use OpenType format fonts whenever possible. IOP uses Linotype Font Explorer to manage fonts.\
\
}