Content-Transfer-Encoding: quoted-printable
Content-Type: text/html;
    charset=us-ascii
Mime-Version: 1.0 (Ideas On Purpose)

<span><br>
<br>
........................................................................<br>
<br>
{{ fullname | lower }}<br>
{{ title | lower}}<br>
<br>
ideas on purpose<br>
307 seventh avenue<br>
suite 701<br>
new york, ny 10001<br>
<br>
212 366 6355 ph<br>
212 366 6353 fx<br>
<br>
http://ideasonpurpose.com<br>
</span>