Content-Transfer-Encoding: quoted-printable
Content-Type: text/html;
    charset=us-ascii
Mime-Version: 1.0 (Ideas On Purpose)

<br>
<br>
<div style="font-family: sans-serif; color: #010101;">
<div style="color: #0EB297">━━━━━━━━━━━━━━</div>
<br>
<strong>{{ fullname }}</strong><br>
{% if title %}{{ title }}<br>{% endif %}
<br>
Ideas On Purpose<br>
307 Seventh Avenue<br>
Suite 701<br>
New York, NY 10001<br>
212 366 6355<br>

<br>
<a style="color: #0EB297;" href="https://www.ideasonpurpose.com">ideasonpurpose.com</a>
<br>
<br>
</div>
