Content-Transfer-Encoding: quoted-printable
Content-Type: text/html;
    charset=us-ascii
Mime-Version: 1.0 (Ideas On Purpose)

<span><br>
<br>
........................................................................<br>
<br>
{{ fullname | lower }}<br>
{% if title %}{{ title | lower}}<br>{% endif %}
<br>
ideas on purpose<br>
307 seventh avenue<br>
suite 701<br>
new york, ny 10001<br>
<br>
212 366 6355<br>
<br>
http://www.ideasonpurpose.com<br>
</span>